/* Colores formulario */
h1{
    color: blue;
    text-align: center;
}
legend{
    background-color: red;
    color: white;
}
fieldset{
    background-color: aqua;
}
input{
    background-color: yellow;
}
.boton{
    background-color: hotpink;
}
